 <!DOCTYPE html>
<html>
  <head>

  <style>
  body {
     background-image: url("assets/architecture.jpg");
  }
</style>
  </head>

  <body>
    <%= yield %>
    <div class="jumbotron vertical-center">
 
        <div class="container push-spaces">
            <h1 class="display-4"><span class="special-word">C</span>onnecting<br> Employees <span class="special-word">t</span>o <span class="special-word">Managers</span></h1>
            <p class="lead">Welcome to MPloy! An application set out to help you, as an employee, have your requests met and fulfilled by your manager in an easy to track manner. Please remember to set up your employee profile if you are new, located at the top right, or proceed to the login page!</p>
        </div>
    </div>
  </body>
</html>
